@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
.mb-1 {
    padding-top: 1rem;
    color: #fff;
    font-family: "Poppins", sans-serif;
}

.btn-success {
    color: #111;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    margin-left: 38rem;
}